body{
   
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    
    
}
.wrap{
    background:white ;
}


h1{
    color: black;
    font-style: normal;
    font-weight:200;
    font-size: 36px;
    line-height: 54px;
}


h3{
    color: azure;
}
h4{
    color:azure;
    font-style: normal;
    font-weight:700;
    font-size: 20px;
}

p{
    font-style: normal;
    font-weight: 400;
    font-size:16px;
}

button{
    background: rgb(236, 236, 236);
}

button:hover{
    opacity: 0.5;
    cursor: pointer;
    color: black;
    border: 1px solid black;
}

li:hover{
    
    color: azure;
    background: #4A78F6;
    
    cursor: pointer;
}

.wrap::after{
    content: "";
    display: block;
    clear: both;
}

.main-page {

    height:125%;
    width: 100%;
    
    padding: 20px;
    
    background: -moz-linear-gradient(46deg, #4A78F6 37%, #F6F6F6 29%, #FFFF 68%, #4A78F6 55%);/* FF3.6+ */
    background: -webkit-gradient(linear, 46deg, color-stop(37%, 4A78F6), color-stop(29%, F6F6F6), color-stop(68%, FFFF), color-stop(55%, 4A78F6));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(46deg, #4A78F6 37%, #F6F6F6 29%, #FFFF 68%, #4A78F6 55%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(46deg, #4A78F6 37%, #F6F6F6 29%, #FFFF 68%, #4A78F6 55%);/* Opera 11.10+ */
    background: -ms-linear-gradient(46deg, #4A78F6 37%, #F6F6F6 29%, #FFFF 68%, #4A78F6 55%);/* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
    background: linear-gradient(46deg, #4A78F6 37%, #F6F6F6 29%, #FFFF 68%, #4A78F6 55%);/* W3C */
}


#welcome {
    width: 100%;
    margin:100px auto;
    padding: 20px;
    background: white;
    text-align: center;
    
    font-size: 380%;
    
}

.btn-row {
    width:30%;
    margin:10px auto;
    padding: 10px;
}

.btn-deco {
    margin: auto;
    padding: 10px;
    border: 1px solid black;
}


.left {
    
    padding: 20px;
    float: left;
    background: #3366CC;
        
}

.right {
    height: 100%;  
    float: right;
    padding: 0px;
    
}
.right h4{
    color: black;
}

.events {
    padding: 15px;
    border-bottom: 1px solid rgb(236, 236, 236);
}
.events:hover{
    cursor: pointer;
    background: rgb(236, 236, 236);
    color: rgb(51,89,239);
}

.right h4,h6,p,button{
    padding:5px;
}

.left h4,h3,label,input{
    display: block;
    margin:20px 0px;
    padding: 15px 0px
}
.left label{
    
    padding-left: 0px;
    width: 75%;
    margin-bottom: 0px;
    padding-bottom: 2px;
    color: azure;
}
.left input{
    padding: 10px;
    width: 75%;
}
.left select{
    
    display: block;
    margin:20p 0px;
    padding: 15px;
    width:75%;
    height: 40px;
}

.btn-create-event {
    display: block;
    margin:20px 0px;
    padding: 15px;
}


.create-events {
    border: 2px solid black;
}
.create-events input,label,select,textarea,button {
    
    display: block;
    margin: 30px;
    margin-top: 10px;
    padding:10px;
    margin-left: 0px;
}
.create-events select{
    display: block;
    margin:20p 0px;
    padding: 15px;
    width:75%;
    height: 40px;
}
.create-events label{
    
    margin: 0 30px;
    padding-bottom: 0;
    margin-left: 0px;
    padding-left:0px;
}

.event-wrapper {
    padding: 0px;
    overflow: hidden;
}

.headings {
    margin:auto;
    width: 55%;
    padding: 10px;
    color: azure;
}
.headings h1{
    color: black;
}

.create-events-form {
    
    width:55%;
    
    margin:auto;
    padding: 60px;
    background:white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=50, Direction=162, Color=#000000)";/*IE 8*/
    -moz-box-shadow: 3px 1px 50px 9px rgba(0,0,0,0.3);/*FF 3.5+*/
    -webkit-box-shadow: 3px 1px 50px 9px rgba(0,0,0,0.3);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 3px 1px 50px 9px rgba(0,0,0,0.3);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=50, Direction=135, Color=#000000); /*IE 5.5-7*/
}

.register-form {
    
    width: 55%;

    margin:auto;
    padding: 60px;
    background:white;
    
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=50, Direction=162, Color=#000000)";/*IE 8*/
    -moz-box-shadow: 3px 1px 50px 9px rgba(0,0,0,0.3);/*FF 3.5+*/
    -webkit-box-shadow: 3px 1px 50px 9px rgba(0,0,0,0.3);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 3px 1px 50px 9px rgba(0,0,0,0.3);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=50, Direction=135, Color=#000000); /*IE 5.5-7*/
}

.login-form {
    
    width:55%;
    
    margin:auto;
    padding: 60px;
    background:white;
    
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=50, Direction=162, Color=#000000)";/*IE 8*/
    -moz-box-shadow: 3px 1px 50px 9px rgba(0,0,0,0.3);/*FF 3.5+*/
    -webkit-box-shadow: 3px 1px 50px 9px rgba(0,0,0,0.3);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 3px 1px 50px 9px rgba(0,0,0,0.3);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=50, Direction=135, Color=#000000); /*IE 5.5-7*/
}






.slider {
    
    width:900px;
    text-align: center;

    margin: auto;
}

.barner {
    width: 100%;
    
    background: azure;
    color: black;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
    
}

.featurete {
    width: 100%;
    
    background: #007bff;
    padding: 70px;
    color: azure;
}

.main-features {
    width: 100%;
    background: white;
}

.main-footer {
    width:100%;
    height: 400px;
    background: black;
}

@media (max-width: 680px) {
  
    .register-form{
        width: 100%;

    }
}

@media (max-width: 680px) {
  
    .login-form{
        width: 100%;

    }
}

@media (max-width: 680px) {
  
    .create-events-form{
        width: 100%;

    }
}

@media (max-width: 680px) {
  
    .main-page{
        width: 100%;

    }
}
@media (max-width: 680px) {
  
    .slider{
        width: 400px;

    }
}
@media (max-width: 680px) {
  
    .welcome{
    
        width: 100%;

    }
}

nav input{
    margin: inherit;
}

#lgn-fix {
    height: 720px;
}

.main-header {
    height: 50px;
    width:100%;
    background: #020731;
    padding: 10px;
}

.sub-featurate {
    text-align: center;
}

.circle {
    height: 120px;
    width: 120px;
    background: green;
    margin: auto;
    border-radius: 100%;
    margin-bottom: 15px;
}

.learn-more {
    margin: auto;
}

.featurate-header {
    text-align: center;
    color: azure;
    padding: 20px;
    padding-top: 0px;
}

.showcase {
    background: yellow;
    border-left: 2px solid black;
    margin: 30px;
    
}

.images {
    width: 920px;
    margin: auto;
}

.main-features-heading {
    text-align: center;
    padding: 20px;
    padding-bottom: 0px;
}

.edit {
    float: right;
}
